.btn_wrap{
    display:inline-block;
    position: relative;
}
.btn_wrap input{
    opacity: 0;
    position: absolute;
    left: 0;
}
.btn_wrap label{
    padding: 50px 50px;
    border-radius: 10px;
    background: #eee;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}
.btn_wrap label:hover,
.btn_wrap input:checked + label{
    background: #ffd700;
    color: #FFF;
}
.btn_wrap input:focus + label{
    box-shadow: 0 0 4px #af975e;
}
